:root {
  --white: #fff;
  --black: #000;
  --primary-color: #a529c7;
  --secondary-color: #0070f3;
  --grey50: #fafafa;
  --grey100: #eaeaea;
  --grey200: #a2a2a2;
  --grey400: #7c7c7c;
  --grey600: #525252;
  --border-color: var(--grey100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

h1 {
  color: var(--grey600);
  font-size: 2.2rem;
}

h2 {
  color: var(--grey200);
  font-weight: 400;
  font-size: 1rem;
}

select {
  border: 1px solid var(--grey200);
  color: var(--grey400);
  padding: 0.4rem;
  min-height: 2rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  background-color: inherit;
}

input {
  border: none;
  font-size: 1rem;
  padding: 0;
  border-bottom: 1px solid var(--grey200);
  display: block;
  width: 100%;
}

input::placeholder {
  color: var(--grey200);
}

button {
  display: block;
  width: 100%;
  min-height: 2.8rem;
  border-radius: 2.8rem;
  border: none;
  font-size: 1rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

button.primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.container {
  padding: 0 2rem;
}

.text-center {
  text-align: center;
}
