:root {
  --primary-color: #a529c7;
  --secondary-color: #0070f3;
  --grey50: #fafafa;
  --grey100: #eaeaea;
  --grey200: #a2a2a2;
  --grey400: #7c7c7c;
  --border-color: var(--grey100);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  border: 1px solid var(--grey200);
  color: var(--grey400);
  padding: 0.4rem;
  min-height: 2rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  background-color: inherit;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.container {
  padding: 0 2rem;
}
